<div class="wrapper">
    <div class="filter-button-wrapper">
        <div class="filter-buttons">
            <button>Food trucks</button>
            <button>Vegeterian</button>
            <button>Burgers</button>
            <button>Pizzas</button>
        </div>
    </div>

    
    <div class="wrapper-card">

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="img-wrapper">
                    <img src="../../assets/images/cake.JPG" alt="">
                </div>
                <button>Ada's cafe brand new</button>
                <div class="rating-price-wrapper">
                    <div class="rating">
                        <ngx-star-rating  [disabled]="true"></ngx-star-rating>
                    </div>
                    <div class="spacer-price-wrapper">
                        <span class="spacer"> | </span>
                        <div class="price">$$$</div>
                    </div>
                    
                </div>
            </div>
            <button class="btn-view">View</button>
        </div>

       

       
    </div>

</div>
